@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");


/* 변수설정 */
:root {
    /* color */
    --color-main: #030303;
    --color-point: #CD6E1C;
    --color-bg: #EBE9DD;
}
:root {
    --swiper-navigation-color: #CD6E1C;
    --swiper-pagination-color: #CD6E1C;
    --swiper-pagination-bullet-inactive-color:#CD6E1C;
    --swiper-pagination-bullet-inactive-opacity: 0.25;
    --swiper-pagination-bottom: 3rem;
    --swiper-navigation-top-offset: 55%;
}
/* 기본 전체 설정 */

html {
    /* 16px * 62.5% = 10px = 1rem */
    font-size: 62.5%;
    letter-spacing: -0.025rem;
}


@media (max-width: 768px) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 50%;
    }
}



* {
    margin: 0;
    padding: 0;
    -webkit-text-decoration: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    color: inherit;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

a {
    text-decoration: none;
    color: #363636;
}
img {
    border: none;
    vertical-align: bottom;
}

li,
ul {
    list-style: none;
}

button {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
}


/* 폰트 설정 */

/* 해더 메인 본문 텍스트 */
.mainTxt {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-point);
}
/* 48px 포인트 대 타이틀 */
.BTxt {
    font-size: 4.8rem;
}
.MTxt {
    font-size: 2.8rem;
}
.Txt {
    font-size: 1.6rem;
    line-height: 1.8;
    margin-top: 1.8rem;
}

/* 18px 본문 텍스트 */


/* 기본 레이아웃 설정 */

html {
    background-color: var(--color-bg);
    font-family: 'Pretendard';
    font-weight: 400;
}

body {
    color: var(--color-main);
    position: relative;
}


.section {}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* 네비 기본설정 */

#fp-nav ul li a.active span {
    background-color: var(--color-point);
}
#fp-nav ul li a:hover span {
    background-color: var(--color-point);
}
#fp-nav ul li .fp-tooltip.fp-left {
    color: var(--color-point);
}
/* 해더기본설정 */
header {
    display: block;
}

#header {
    width: 100%;
    height: 7.2rem;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 99999;
    background-color: var(--color-bg);
}

#header .headerWrap {
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}


header ul {
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

header ul li {
    height: 100%;
}
.Contact {
    cursor: pointer;
    z-index: 99999;
}
/* s0 */
.s0 {
    background-image: url("../img/mainbg.png");
    background-position: bottom center;
    background-size: cover;
}

.s0 .wrapper h2 {
    font-size: 12.6rem;
    line-height: 18rem;
}

.s0 .wrapper p {
    padding-bottom: 36rem;
}

/* s1 */
.s1 .wrapper {}

.s1 .wrapper .imgBox {
    transition: all 0.15s;
    opacity: 0;
    width: 41%;
    float: left;
}

.s1 .wrapper .imgBox img {
    width: 100%;
    float: left;
    margin-top: 1.8rem;
    border-radius: 0.8rem;
}
.s1 .wrapper .txtBox {
    transition: all 0.8s;
    opacity: 0;
    text-align: left;
    width: 54%;
    float: right;
}

.s1 .wrapper .txtBox h2 {
    color: var(--color-point);
}

.s1 .wrapper .txtBox h3 {
    color: var(--color-point);
    margin-top: 2.8rem;
}

/* s2 */
.s2 .Develop {
    opacity: 0;
    transition: all 0.8s;
}
.s2 .Design {
    opacity: 0;
    transition: all 0.8s;
}
.s2 .wrapper h2 {
    font-size: 4.8rem;
    margin-bottom: 4.8rem;
}

.TechImg {
    display: flex;
    justify-content: center;
}
.TechImg li {
    width: 7.2%;
    margin: 0 1rem;
}
.TechImg li img {
    width: 100%;
}
.DevelopTech {
    margin-bottom: 7.2rem;
}
.TechImg li {
}
/* s3 */

.swiper-container .BTxt {
    text-align: left;
}
.s3 .wrapper {
}
.swiper-slide {
    background-color: var(--color-bg);
    margin-top: 7.2rem;
}
.slideImg {
    width: 55%;
    float: left;
    border-radius: 0.8rem;
    overflow: hidden;
}
.slideImg img {
    width: 100%;
}
.slideTxt {
    width: 40%;
    float: right;
    text-align: left;
    margin-bottom: 7.2rem;
}

.slideTxt table {
    margin-top: 2.8rem;
}
.slideTxt table td {
    vertical-align: top;
}
.slideTxt table tr td:nth-child(odd) {
    font-weight: 600;
}
.slideTxt button {
    margin-top: 2.8rem;
    background-color: var(--color-bg);
    padding: 1.6rem 1.8rem;
    border-radius: 0.8rem;
    margin-right: 1rem;
    background-color: rgba(205, 110, 28, 0.25);
    transition: all 0.3s;
}
.slideTxt button a {
    color: var(--color-point);
    font-size: 1.6rem;
    font-weight: 600;
}

.slideTxt button:hover {
    background-color: rgba(205, 110, 28, 1);
}
.slideTxt button:hover a {
    color: #fff;
}
.slideTxt p {
    color: #676767;
}
.slideTxt .Txt a {
    font-size: 1.4rem;
    color: #676767;
}

.slideTxt .Txt a:hover {
    color: var(--color-main);
    transition: all 0.3s;
}
.DesignClick .WebProtectImg4,
.DesignClick .WebProtectImg5 {
    overflow-y: scroll;
}

.DesignClick .WebProtectImg4.on,
.DesignClick .WebProtectImg5.on {
    display: block;
}

.DesignClick .WebProtectImg4 img.on,
.DesignClick .WebProtectImg5 img.on {
    display: block;
}




/* 슬라이드 버튼 */
.swiper-button-next {
    right: 15%;
}
.swiper-button-prev {
    left: 15%;
}
/* s4 */

.s4 .BTxt {
    text-align: left;
}
.txtWrap {
    display: flex;
    justify-content: space-between;
    margin-top: 14.4rem;
}
.txtWrap .Txt {
    margin-top: 1.4rem;
    color: var(--color-point);
}
.s4 h3 {
    text-align: left;
    margin-top: 7.2rem;
    margin-bottom: 2.8rem;
}

.DesignGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.DesignGallery li {
    width: 24%;
    overflow: hidden;
    margin-bottom: 2rem;
    border-radius: 0.8rem;
    position: relative;
    transition: all 0.8s;
}

.DesignGallery li img {
    width: 100%;
}

.DesignGallery li div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex; 
    align-items: center; 
    justify-content: center;
    display: none;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(3px);
}

.DesignGallery li div h4 {
    font-size: 1.6rem;
    background-color:var(--color-point);
    color: #fff;
    padding: 1.6rem 1.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
}
.DesignGallery li:hover div {
    display: flex;
}
.s4 .SnsImg li:nth-child(9) {
    display: none;
}
.s4 .CardNewsImg li:nth-child(5) {
    display: none;
}

/* s5 */
.s5 .wrapper .BTxt {
    padding-top: 14.4rem;
    padding-bottom: 2.8rem;
}
.s5 .wrapper .MTxt {
    font-size: 1.8rem;
    line-height: 1.8;
}
.s5 .wrapper .Txt{
    padding-bottom: 14.4rem;
}
.s5 .wrapper div {
    margin-top: 2.8rem;
    margin-bottom: 4.8rem;
}
.s5 .wrapper span {
    background-color: var(--color-bg);
    padding: 1.6rem 1.8rem;
    border-radius: 0.8rem;
    margin-right: 1rem;
    background-color: rgba(205, 110, 28, 0.25);
    transition: all 0.3s;
    color: var(--color-point);
    font-size: 1.6rem;
    font-weight: 600;
    display: inline-block;
}
/* DesignClick */
.DesignClick {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
    z-index: 99999;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.DesignClick.on {
    display: flex;
}

.DesignClick .DesignImg {
    display: none;
    width: 60rem;
    height: 60rem;
    background-color: #676767;
    position: relative;
}

.DesignClick .DesignImg img {
    position: absolute;
    width: 100%;
    display: none;
}
.DesignClick .SnsZoom {
}
.DesignClick .SnsZoom.on,
.DesignClick .DetailZoom.on,
.DesignClick .CardZoom.on,
.DesignClick .EventZoom.on {
    display: block;
}

.DesignClick .SnsZoom img.on,
.DesignClick .DetailZoom img.on,
.DesignClick .CardZoom img.on,
.DesignClick .EventZoom img.on {
    display: block;
}

.DesignClick .DetailZoom,
.DesignClick .CardZoom,
.DesignClick .EventZoom {
    overflow-y: scroll;
}
/* 취소버튼 */
.Close {
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 3.5rem;
    height: 3.5rem;
    margin: -1.6rem 0 0 -1.6rem;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    transition: background .2s ease;
    transition-delay: .15s;
  }
  
  
  
  .Close svg circle {
    stroke-width: 2;
    stroke: white;
    fill: none;
    stroke-dasharray: 95;
    stroke-dashoffset: 285;
    transition: all .6s ease;
    stroke-linecap: round;
  }
  
  .Close svg #plus {
    transform-origin: 50% 50%;
    transition: all .8s ease;
  }
  .Close svg #plus {
    transform: rotate(45deg);
}
  .Close svg #plus path {
    stroke-width: 2;
    stroke: white;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
  
  .Close:hover svg circle {
    stroke-dasharray: 95;
    stroke-dashoffset: 190;
  }
  
  .Close.toggle:hover {
    background: rgba(255, 255, 255, 0.06);
  }
  
  @media(max-width:1280px) {
    /* .s3 */
    .swiper-button-next, .swiper-button-prev {
        display: none;
    }
    .ScrollDown {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
        color: #fff;
    }
    .ScrollDown p {
        text-align: center;
    }
  }
/* 1025px이상 1280px이하 */
@media(min-width:1025px) and (max-width:1200px){
    :root {
        --swiper-pagination-bottom: 6rem;
    }

    /* 기본 레이아웃 설정 */
    .wrapper {
        max-width: 964px;
    }

    #header .headerWrap {
        max-width: 964px;
    }

    #header {
        height: 5.0rem;
    }
    
    /* DesignClick */
    .DesignClick .DesignImg {
        width: 51rem;
        height: 51rem;
    }
    .ScrollDown {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
        color: #fff;
    }
    .ScrollDown p {
        text-align: center;
    }
    /* 취소버튼 */
    .Close {
        width: 7rem;
        height: 7rem;
        bottom: 5%;
        margin-left: -3.5rem;
    }

}


/* 769px이상 1024px이하 */
@media(min-width:769px) and (max-width:1024px){
    :root {
        --swiper-pagination-bottom: 0rem;
    }
    .wrapper {
        max-width: 708px;
    }
    #header .headerWrap {
        max-width: 708px;
    }
    #header {
        height: 5.0rem;
    }
    /* s1 */
    .s0 {
        height: 100vh;
        overflow: hidden;
        background-image: url("../img/mainbg1024.png");
    }
    .s0 .wrapper h2 {
        font-size: 12.6rem;
        line-height: 18rem;
        margin-top: 15rem;
    }
    .s1 .wrapper .txtBox {
        width: 100%;
    }
    .s0 .wrapper p {
        padding-bottom: 36rem;
    }
    .s1 .wrapper .txtBox p:nth-child(7) {
        margin-bottom: 14.4rem;
    }
    
    .s1 .wrapper .imgBox {
        width: 100%;
    }

    .s1 .wrapper .imgBox img {
        width: 80%;
        margin-top: 14.4rem;
        margin-bottom: 4.8rem
}
    

    .TechImg li {
        width: 15%;
        margin: 0 1rem;
    }
    /* s3 */
    .s3 table br {
        display: none;
    }
    .s3 {
        position: relative;
    }
    .s3 .BTxt {
        margin-top: 14.4rem;
    }
    .slideImg {
        width: 100%;
        margin-bottom: 4.8rem;
    }
    .slideTxt {
        width: 100%;
        word-break: keep-all;
    }
    /* s4 */
    
    .DesignGallery li {
        width: 32%;
    }
    .s4 .SnsImg li:nth-child(9) {
        display: block;
    }
    .s4 .CardNewsImg li:nth-child(5) {
        display: block;
    }
    .txtWrap {
        flex-wrap: wrap;
    }
    
    /* DesignClick */
    .DesignGallery li:hover div {
        display: none;
    }
    .DesignClick .DesignImg {
        width: 51rem;
        height: 51rem;
    }
    .ScrollDown {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
        color: #fff;
    }
    .ScrollDown p {
        text-align: center;
    }
    /* 취소버튼 */
    .Close {
        width: 7rem;
        height: 7rem;
        bottom: 4%;
        margin-left: -3.5rem;
    }
}

/* 481px이상 768px이하 */
@media(min-width:481px) and (max-width:768px){
    :root {
        --swiper-pagination-bottom: 0rem;
    }
    .wrapper {
        max-width: 420px;
    }
    /* 해더 메인 본문 텍스트 */
    .mainTxt {
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--color-point);
    }
    #header .headerWrap {
        max-width: 420px;
    }
    #header {
        height: 4.8rem;
    }
    /* s1 */
    .s0 {
        height: 100vh;
        overflow: hidden;
    }
    
    .s0 .wrapper h2 {
        font-size: 7.2rem;
        line-height: 11.8rem;
        margin-top: 9rem;
    }
    .s1 .wrapper .txtBox {
        width: 100%;
    }
    .s0 .wrapper p {
        padding-bottom: 36rem;
    }
    .s1 .wrapper .txtBox p:nth-child(7) {
        margin-bottom: 14.4rem;
    }
    .s1 .wrapper .imgBox {
        width: 100%;
    }

    .s1 .wrapper .imgBox img {
        width: 100%;
        margin-top: 14.4rem;
        margin-bottom: 4.8rem
}
    .TechImg li {
        width: 15%;
        margin: 0 1rem;
    }
    /* s3 */
    .s3 table br {
        display: none;
    }
    .s3 {
        position: relative;
    }
    .s3 .BTxt {
        margin-top: 14.4rem;
    }
    .slideImg {
        width: 100%;
        margin-bottom: 4.8rem;
    }
    .slideTxt {
        width: 100%;
        word-break: keep-all;
    }
    /* s4 */
    .txtWrap {
        display: block;
    }
    .txtWrap .Txt {
        margin-top: 1.4rem;
        text-align: left;
    }
    .DesignGallery li {
        width: 47.6%;
    }
    .s4 .SnsImg li:nth-child(9) {
        display: block;
    }
    .s4 .CardNewsImg li:nth-child(5) {
        display: block;
    }
    /* DesignClick */
    .DesignGallery li:hover div {
        display: none;
    }
    .ScrollDown {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
        color: #fff;
    }
    .ScrollDown p {
        text-align: center;
    }
    .DesignClick .DesignImg {
        width: 32rem;
        height: 32rem;
    }
    /* 취소버튼 */
    .Close {
        width: 7rem;
        height: 7rem;
        bottom: 2%;
        margin-left: -3.5rem;
    }
}

/* 320px이상 480px이하 */
@media(min-width:320px) and (max-width:480px){
    :root {
        --swiper-pagination-bottom: 0rem;
    }
    .wrapper {
        max-width: 320px;
    }
    /* 해더 메인 본문 텍스트 */
    .mainTxt {
        font-size: 1.6rem;
    }
    #header .headerWrap {
        max-width: 320px;
    }
    #header {
        height: 4.8rem;
    }
    /* s1 */
    .s0 {
        display: flex;
        align-items: center;
        height: 100vh;
        overflow: hidden;
        background-image: url("../img/mainbg320.png");
    }
    .s0 .wrapper h2 {
        font-size: 6rem;
        line-height: 9rem;
        margin-top: 20rem;
    }
    .s1 .wrapper .txtBox {
        width: 100%;
    }
    .s1 .wrapper .txtBox p:nth-child(2) br {
        display: none;
    }
    .s0 .wrapper p {
        padding-bottom: 36rem;
        line-height: 1.8;
    }
    .s1 .wrapper .txtBox p:nth-child(7) {
        margin-bottom: 14.4rem;
    }
    
    .s1 .wrapper .imgBox {
        width: 100%;
    }

    .s1 .wrapper .imgBox img {
        width: 100%;
        margin-top: 14.4rem;
        margin-bottom: 4.8rem
}
    .TechImg li {
        width: 15%;
        margin: 0 1rem;
    }
    /* s3 */
    .s3 table br {
        display: none;
    }
    .s3 {
        position: relative;
    }
    .s3 .BTxt {
        margin-top: 14.4rem;
    }
    .slideImg {
        width: 100%;
        margin-bottom: 4.8rem;
    }
    .slideTxt {
        width: 100%;
        word-break: keep-all;
    }
    .slideTxt p br {
        display: none;
    }
    /* s4 */
    .txtWrap {
        display: block;
    }
    .txtWrap .Txt {
        margin-top: 1.4rem;
        text-align: left;
    }
    .DesignGallery li {
        width: 47.6%;
    }
    .s4 .SnsImg li:nth-child(9) {
        display: block;
    }
    .s4 .CardNewsImg li:nth-child(5) {
        display: block;
    }
    /* .s5 */
    .s5 .wrapper div span:nth-child(2) {
        margin-top: 1.8rem;
    }
    /* DesignClick */
    .DesignGallery li:hover div {
        display: none;
    }
    .DesignClick .DesignImg {
        width: 32rem;
        height: 32rem;
    }
    .ScrollDown {
        width: 100%;
        position: absolute;
        top: 25%;
        left: 0;
        color: #fff;
    }
    .ScrollDown p {
        text-align: center;
    }
    .ScrollDown.on {
        display: none;
    }
    /* 취소버튼 */
    .Close {
        width: 7rem;
        height: 7rem;
        bottom: 20%;
        margin-left: -3.5rem;
    }
}