@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@font-face {
    font-family: 'YUniverse-B';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_yuniverse@1.0/YUniverse-B.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


* {padding: 0; margin: 0;}
img {border: 0; vertical-align: bottom;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}
body {width: 100%; font-family: 'YUniverse-B'; position: relative; }

:root {
    --main-color: #ffbbbb;
    --main-fontColor: #a92242;
}

.logo {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
}
/* .gnb 설정 */
.gnb {
    position: fixed;
    height: 200px;
    left: 3%;
    top: 50%;
    font-size: 20px;
    margin-top: -100px;
    z-index: 99;
    box-sizing: border-box;
}
.gnb li {
    height: 25%;
    transition: all 0.8s;
    perspective: 1000px;
}

.gnb li a {
    transition: all 0.8s;
}
.gnb li.on a {
    font-size: 22px;
    color: var(--main-fontColor);
}
.gnb li:hover a {
    font-size: 22px;
    color: var(--main-fontColor);
}
/* .box1 설정 */
.box1 {
    position: relative;
    width: 100%;
    transition: all 0.5s;
    background-image: linear-gradient(to right bottom, #A9F1DF 20%, var(--main-color) 60%);
    animation: ani 5s linear infinite alternate;
}

.box1 h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 80px;
    text-align: center;
    z-index: 999;
    margin-left: -133px;
    margin-top: -86px;
}
.box1 h2 {
    z-index: 99;
    position: fixed;
    bottom: 5%;
    right: 3%;
}
.box1 h3 {
    position: fixed;
    top: 5%;
    right: 3%;
    float: right;
}

.cir {
    z-index: 999;
    overflow: hidden;
    width: 600px;
    height: 600px;
    background-color: #fff;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    position: fixed;
    animation: cir 2s linear;
    text-align: center;
}
.cir img {
    position: absolute;
    margin-left: -350px;
    margin-top: -350px;
    left: 50%;
    top: 50%;
    width: 700px;
    transform: rotate(0deg);
    animation: rotate 15s infinite linear;
}

.cir p {
    width: 600px;
    opacity: 0;
    margin-top: 30%;
    line-height: 4;
    cursor: pointer;
    font-size: 20px;
}
.cir p strong {
    line-height: 2;
    font-size: 50px;
}
.cir p em {
    font-style: normal;
    line-height: 3;
    font-style: normal;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.8s;
}
.cir p em:hover {
    color: #fff;
    background-color: var(--main-fontColor);
} 
/* box1 온값 */
.cir.on {
    background-image: linear-gradient(to right top, var(--main-color) 50%, #a9f1df 100%);
}
.box1.on1 div {display: none;}
.box1.on1 h1 {display: none;}
.box1.on1 img {display: none;}

/* box1 키프레임 */
@keyframes ani {
    0% {background-image: linear-gradient(to right bottom, #A9F1DF 10%, var(--main-color) 50%);}
    12% {background-image: linear-gradient(to right bottom, #A9F1DF 14%, var(--main-color) 54%);}
    24% {background-image: linear-gradient(to right bottom, #A9F1DF 18%, var(--main-color) 58%);}
    36% {background-image: linear-gradient(to right bottom, #A9F1DF 22%, var(--main-color) 62%);}
    48% {background-image: linear-gradient(to right bottom, #A9F1DF 26%, var(--main-color) 66%);}
    60% {background-image: linear-gradient(to right bottom, #A9F1DF 30%, var(--main-color) 70%);}
    72% {background-image: linear-gradient(to right bottom, #A9F1DF 34%, var(--main-color) 74%);}
    84% {background-image: linear-gradient(to right bottom, #A9F1DF 38%, var(--main-color) 78%);}
    100% {background-image: linear-gradient(to right bottom, #A9F1DF 42%, var(--main-color) 82%);}
}
@keyframes cir {
    0% {
        width: 50px;
        height: 50px;
        margin-left: -25px;
        margin-top: -25px;
    }
    100% {
        width: 600px;
        height: 600px;
        margin-left: -300px;
        margin-top: -300px;
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/* box2 설정 */
.box2 {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    background-color: #fff;
    background-image: url(img/prof_txt.png);
    background-repeat: no-repeat;
    background-position: right 30% top 10%;
    background-size: 650px;
}

.box2 img {
    z-index: 999;
    width: 600px;
    height: 620px; 
    margin-left: 23%;
    margin-top: 14.5%;
}

/* box3 설정 */
.box3 {
    display: flex;
    justify-content: space-between;
}
.box3 div {
    position: relative;
    perspective: 500px;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    background-color: var(--main-color);
    transition: all 0.8s;
}
.box3 div img {
    position: absolute;
    left: 80%;
    margin-left: -100px;
    top: -70px;
    width: 200px;
    transform: rotateY(20deg);
    transition: all 0.8s;
    animation: bouncy 1.2s linear infinite ;
}
.box3 div:hover img {
    left: 50%;
    transform: rotateY(-180deg);
    animation: none;
}
.box3 div:hover a {
    color: var(--main-fontColor);
}
@keyframes bouncy {
    0% {top: -70px;}
    50% {top: -80px;}
    100% {top: -70px;}
}
.box3 div span {
    opacity: 0;
    width: 330px;
    position: absolute;
    text-align: center;
    top: 10%;
    left: 120%;
}
.box3 div span.on {
    opacity: 1;
}
.box3 div span h2 {
    padding-bottom: 25px;
    font-size: 30px;
}
.box3 div span h2 strong {
    font-size: 15px;
}
.box3 div span p {
    padding-bottom: 15px;
}
.box3 div span a {
    transition: all 0.8s;
    font-size: 20px;
    font-weight: bold;
}
.pro1 {
    margin-left: 15%;
}
.pro1 span {
}
.pro2 {
}
.pro2 span {
}
.pro2.on {
    margin-top: 350px;
}
.pro3 {
    margin-right: 25%;
}
.pro3 span {
}
.pro3.on {
    margin-top: 350px;
}
.pro3.on1 {
    margin-top: 700px;
}
/* box4 설정 */
.box4 {
    box-sizing: border-box;
    overflow: hidden;
}
.box4 ul {
    float: right;
    width: 100%;
    height: 15%;
    justify-content: right;
    align-items: end;
    display: flex;
    margin-right: 10%;
}
.box4 ul li {
    border-top: 5px solid #A92242;
    border-left: 5px solid #A92242;
    border-right: 5px solid #A92242;
    padding: 20px;
    color: #A92242;
    margin-right: 0.5%;
    transition: all 0.5s;
    cursor: pointer;
}
.box4 ul li:hover {
    color: #fff;
    background-color: #A92242;
}
.box4 ul li.on {
    color: #fff;
    background-color: #A92242;
}
.box4 ol {
    margin-right: 10%;
    position: relative;
    float: right;
    width: 60%;
    height:850px;
    background-color: #fff;
    overflow-y: scroll;
    border: 5px solid #A92242;
}
.box4 ol li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.box4 ol li.on {
    opacity: 1;
}
.box4 ol li img {
    width: 100%;
    opacity: 1;
}

/* 인포설정 */
.info {
    position: relative;
    z-index: 99999;
    display: flex;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}

.cont {
    width: 40%;
    height: 100%;
    background-image: linear-gradient(to right bottom, #A9F1DF 20%, var(--main-color) 60%);
    border-left: 5px solid #fff;
}
.cont h2 {
    text-align: center;
    margin-top: 80px;
    font-size: 120px;
    margin-left: 50px;
    background-color: var(--main-fontColor);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 5px 5px; 
}
.cont h2 b {
    font-weight: normal;
    font-size: 35px;
}
.cont img {
    width: 600px;
    margin: 12% 20%;
}
.cont p {
    font-weight: bold;
    line-height: 2;
    font-size: 20px;
    margin-left: 50px;
    color: var(--main-fontColor);
}
.skill {
    width: 60%;
    height: 100%;
    position: relative;
    display: flex;
}
.skill img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

}
.skill img:nth-child(2) {
    position: absolute;
    height: 80%;
    margin-top: 4.5%;
    left: 27%;
    top: 8%;
}
.skill .close {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 50px;
    color: var(--main-color);
    transition: all 0.8s;
    cursor: pointer;
}
.skill .close:hover {
    color: var(--main-fontColor);
}
.title {
    box-sizing: border-box;
    width: 45%;
    height: 62%;
    margin-top: 9.7%;
    z-index: 9;
    color: var(--main-fontColor);
    text-align: center;
}
.title li {
    height: 25%;
    font-size: 20px;
    font-weight: bold;
}
.title li:nth-child(3) {
    margin-top: 12px;
}
.title li:nth-child(4) {
    margin-top: 100px;
}
.txt {
    padding-right: 300px;
    width: 55%;
    height:80%;
    z-index: 9;
    color: var(--main-fontColor);
    margin-top: 10%;
    margin-left: 50px;
}
.txt li {
    font-size: 20px;
    box-sizing: border-box;
    height: 7.5%;
    border-bottom: 1.9px solid #5E6D8C;
    margin-bottom: 1%;
    line-height: 3;
    padding-left: 15px;
}
.percent {
    font-size: 16px;
    position: absolute;
    top: 12.7%;
    right: 5%;
    width: 30%;
    height: 80%;
    z-index: 9;
    color: var(--main-fontColor);
}
.percent li {
    font-size: 20px;
    line-height: 3.1;
    height: 7.55%;
    margin-bottom: 1%;
}
.percent li i {
    margin-top: 5%;
    font-size: 30px;
    padding: 0 9%;
}