@charset "UTF-8";

*{padding: 0; margin: 0;}
ul,ol {list-style: none;}
img {vertical-align: bottom; border: none;}
a {text-decoration: none; color: #5F5003;}
body {color: #5F5003; position: relative; font-family: 'S-CoreDream-3Light'; overflow-x: hidden;}
h1,h2,h3,h4,h5,h6,b {font-weight: normal;
}
em {font-style: normal; font-family: 'Freestyle Script', sans-serif; }
@import url('https://fonts.cdnfonts.com/css/freestyle-script');
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 우선순위 css는 덮어쓰기가 가능한 파일
    제일 상위자 - 태그네임 똑같은 이름으로 부르기
    두번째 상위자 - #wrap section -> 클레스 네임으로 변경안됨
    세번째 상위자 ID 값 - */

/* 크기(박스)설정 */
/* 제이쿼리에서 화면 기준으로 변경될 section - 800px
    내용에 따라 높이가 자동변환 될 section은 - 1000px/ 500px*/


    header {
        width: 6%;
        height: 800px;
    }
    .oil_slider {
        width: 100%;
        height: 800px;
    }
    .best_product {
        width: 100%;
        height: 1000px;
    }
    .info {
        width: 100%;
        height: 1000px;
    }
    .skin_type {
        width: 100%;
        height: 800px;
    }
    .review_gift {
        width: 100%;
        height: 800px;
    }
    .menu {
        width: 100%;
        height: 800px;
    }


    /* 골드라인 설정 */
    .line {
        position: relative;
        width: 100%;
        height: 5%;
        margin-bottom: 1%;
    }
    .line img {
        position: absolute;
        width: 100%;
        height: 100px;
        top: 0;
        left: 0;
    }
    /* 오일 슬라이더 박스설정 */
    .oil_slider {
        position: relative;
        overflow: hidden;
    }
    .oil_slider article {
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0;
        top: 0;
        z-index: -9999;
    }

    .oil_slider #wrap {
        z-index: 9999;
        height: 100%;
        display: flex;
    }
    .oil_slider #wrap .txt {
        width: 59.5%;
        height: 94%;
    }
    .oil_slider #wrap .img {
        width: 40%;
        height: 100%;
    }

    /* 베스트 박스설정*/
    .best_product {
        display: flex;
        flex-wrap: wrap;
    }
    .best_product div {
        width: 100%;
        height: 5%;
    }
    .best_product .main_img {
        width: 40%;
        height: 70%;
    }
    .best_product .img {
        width: 60%;
        height: 70%;
    }
    .best_product .txt {
        width: 100%;
        height: 25%;
    }
    /* 소개영역 박스설정 */
    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .info .txt {
        width: 37%;
        height: 95%;
    }
    .info .img {
        width: 57%;
        height: 95%;
    }
    /* 피부타입 박스구간 */
    .skin_type {
        display: flex;
        flex-wrap: wrap;
    }
    .skin_type .txt {
        width: 100%;
        height: 25%;
    }
    .skin_type .img {
        width: 100%;
        height: 70%;
    }
    /* 리뷰 박스설정 */
    .review_gift {
        width: 3000px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .review_gift div {
        width: 100%;
        height: 5%;
    }
    .review_gift .txt {
        width: 20%;
        height: 95%;
    }
    .review_gift .img {
        width: 80%;
        height: 95%;
    }
    .review_gift footer {
        width: 18%;
    }


        /* 픽스 설정 */
        .page {
            position: fixed;
            top: 10%;
            left: 10%;
            width: 250px;
            height: 150px;
            display: flex;
            z-index: 10;
        }
        .page .pageImg {
            position: relative;
            width: 50%;
        }
        .page .pageImg img {
            width: 130px;
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(0deg);
            animation: page 13s linear infinite;
        }

        .page ul {
            width: 50%;
            height: 100%;
            margin-left: 30px;
        }
        .page li:hover a {
            color: #FDA085;
        }
        .page li.on a {
            color: #FDA085;
        }
        .fixed01 {
            width: 400px;
            position: absolute;
            display: flex;
            align-items: center;
            top: 1%;
            right: -270px;
            z-index: 10;
            transition: all 0.5s;
        }
        .fixed01:hover {
            right: 0;
        }
        .fixed01:hover p {
            background-image: url(../img/fixed_starF.png);
        } 
        .fixed01 p {
            background-image: url(../img/fixed_star.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
            padding-left: 30px;
            font-size: 15px;
        }
        
        .fixed01 img {
            padding-left: 5%;
        }
        .fixed02 {
            width: 370px;
            position: absolute;
            display: flex;
            align-items: center;
            top: 3%;
            right: -240px;
            z-index: 10;
            transition: all 0.5s;
        }
        .fixed02:hover {
            right: 0;
        }
        .fixed02:hover p {
            background-image: url(../img/fixed_starF.png);
        } 
        .fixed02 p {
            background-image: url(../img/fixed_star.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
            padding-left: 30px;
        }
        .fixed02 img {
            padding-left: 5%;
        }

        /* 픽스 키프레임 */
        @keyframes page {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
        /* 가로스크롤 */
        #wrap1 {
            width: 100%;
            position: relative;
            left: 0;
            top:0
            }
        
        #wrap1.on {
            position: fixed;
            top:-300% ;
            left: 0;}
        /* 해더 설정 */
        header {
            position: fixed;
            z-index: 9999;
            bottom: 0;
            left: 0;
        }
        header h1 {
            width: 80%;
            height: 10%;
            text-align: center;
            margin-top: 10%;
            margin-left: 20%;
            background-image: url(../img/logo.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util {
            width: 100%;
            height: 40%;
            position: absolute;
            bottom: -1%;
        }
        .util li {
            width: 30%;
            margin-left: 55%;
            height: 20%;
            cursor: pointer;
        }
        .util li:nth-child(1) {
            background-image: url(../img/Uicon_01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:nth-child(2) {
            background-image: url(../img/Uicon_02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:nth-child(3) {
            background-image: url(../img/Uicon_03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            position: relative;
        
        }
        .util li:nth-child(3) span {
            position: absolute;
            right: -20%;
            color: #fff;
            top: 20%;
            width: 23px;
            height: 23px;
            border-radius: 10px;
            text-align: center;
            background-color: #FA574E;
        }
        .util li:nth-child(4) {
            background-image: url(../img/Uicon_04.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:nth-child(5) {
            background-image: url(../img/Uicon_05.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:hover:nth-child(1) {
            background-image: url(../img/UiconH_01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:hover:nth-child(2) {
            background-image: url(../img/UiconH_02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:hover:nth-child(3) {
            background-image: url(../img/UiconH_03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:hover:nth-child(4) {
            background-image: url(../img/UiconH_04.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .util li:hover:nth-child(5) {
            background-image: url(../img/UiconH_05.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        /* 오일 슬라이더 설정 */
        .oil_slider {
            position: relative;
            background-image: url(../img/slider_bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        /* 오일 슬라이더 오른쪽 설정 */
        .oil_slider .right {
            width: 30px;
            position: absolute;
            bottom: 10%;
            right: 5%;
            z-index: 999;
        }
        .oil_slider .left {
            width: 30px;
            position: absolute;
            bottom: 10%;
            right: 8%;
            z-index: 999;
        }

        /* 오일 슬라이더 텍스트 설정 */
        .oil_slider .txt {
            box-sizing: border-box;
        }
        .oil_slider .txt span {
            padding-top: 30%;
            display: block;
            width: 80%;
            margin: 0 auto;
            text-align: right;
        }
        .oil_slider .txt span h1 {
            width: 100%;
            font-size: 35px;
        }
        .oil_slider .main_txt {
            font-size: 90px;
        }
        .oil_slider .txt span h6 {
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20%;
        }
        .oil_slider .txt span h6 em {
            font-size: 20px;
        }
        .oil_slider .ingre_txt {
            text-align: left;
            width: 100%;
            padding-left: 12%;
        }
        .oil_slider .ingre_txt em {
            font-size: 25px;
        }
        .oil_slider .ingredient {
            width: 70%;
            margin: 0 auto;
            height: 25%;
            display: flex;
            align-items: center;
        }
        .oil_slider .ingredient li {
            width: 13%;
            height: 20%;
            margin-left: 4%;
        }
        .oil_slider .ingredient li p {
            text-align: center;
            padding-top: 70px;
            font-size: 10px;
        }
        .oil_slider .ingredient li:nth-child(1) {
            background-image: url(../img/slider_ingre01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .ingredient li:nth-child(2) {
            background-image: url(../img/slider_ingre02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .ingredient li:nth-child(3) {
            background-image: url(../img/slider_ingre03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .ingredient li:nth-child(4) {
            background-image: url(../img/slider_ingre04.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .ingredient li:nth-child(5) {
            background-image: url(../img/slider_ingre05.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .ingredient li:nth-child(6) {
            background-image: url(../img/slider_ingre06.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        /* 오일 슬라이더 이미지설정 */
        .oil_slider .img {
            box-sizing: border-box;
            position: relative;
            overflow: hidden;
        }
        .oil_slider .oil {
            position: absolute;
            top: 50%;
            margin-top: -300px;
            left: 0%;
            width: 1000px;
            height: 500px;
            display: flex;
        }
        .oil_slider .oil li {
            width: 33%;
            height: 100%;
        }
        .oil_slider .oil li:nth-child(1) {
            background-image: url(../img/slider_oil01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .oil li:nth-child(2) {
            background-image: url(../img/slider_oil02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .oil li:nth-child(3) {
            background-image: url(../img/slider_oil03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .oil li h6 {
            width: 100%;
            font-size: 18px;
            text-align: center;
            padding-top: 150%;
        }
        .oil_slider .oil li p {
            width: 100%;
            margin-top: 20px;
            padding-top: 5%;
            text-align: center;
            background-image: url(../img/heart.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .oil_slider .oil li p:hover {
            background-image: url(../img/heartF.png);
        }

        /* 오일 슬라이더 비디오설정 */
        .oil_slider article {
            width: 100%;
        }
        

        /* 베스트 설정 */
        .best_product {
        }
        /* 베스트 메인이미지 설정 */
        .best_product .main_img {
            position: relative;
        }
        .best_product .main_img img {
            width: 600px;
            left: 0;
            top: 30%;
            position: absolute;
            opacity: 0;
        }
        .best_product .main_img img:nth-child(2) {
            width: 500px;
            top: 25%;
        }
        .best_product .main_img img:nth-child(3) {
            width: 500px;
            top: 25%;
            left: 30%;
        }
        .best_product .main_img img:nth-child(4) {
            width: 400px;
            left: 40%;
            top: 25%;
        }
        .best_product .main_img img:nth-child(5) {
            width: 400px;
            left: 15%;
            top: 30%;
        }
        .best_product .main_img img.on {
            opacity: 1;
        }
        .best_product .txt {
        }
        /* 베스트 이미지 설정 */
        .best_product .img ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
        }
        .best_product .img li {
            width: 30%;
            height: 300px;
            cursor: pointer;
            box-sizing: border-box;
            filter: grayscale(100%);
            z-index: 9;
        }
        .best_product .img li.on {
            filter: none;
        }
        .best_product .img li:hover {
            filter: none;
            transition: all 1s;
        }
        .best_product .img img {
            width: 280px;
            
        }
        .best_product .img li:nth-child(1) {
            width: 50%;
            height: 50%;
            padding-top: 70px;
        }
        .best_product .img li:nth-child(2) {
            width: 50%;
            height: 50%;
            padding-left: 70px;
            padding-top: 60px;
        }
        .best_product .img li:nth-child(3) {
            width: 40%;
            height: 50%;
            padding-left: 10px;
            padding-top: 120px;
        }
        .best_product .img li:nth-child(4) {
            width: 30%;
            height: 50%;
            padding-left: 50px;
        }
        .best_product .img li:nth-child(5) {
            width: 30%;
            height: 50%;
            padding-top: 150px;
        }
        .best_product .img li:nth-child(1) img {
            width: 400px;
        }
        /* 베스트 텍스트 설정 */
        .best_product .txt {
            position: relative;
            margin-top: 3%;
        }
        .best_product .txt ul {
            position: absolute;
            width: 80%;
            left: 50%;
            margin-left: -45%;
            display: flex;
            opacity: 0;
        }
        .best_product .txt ul.on {
            opacity: 1;
        }
        .best_product .txt ul li {
            width: 50%;
        }
        .best_product .txt ul li h1 {
            font-size: 30px;
            padding: 70px 0;
            padding-left: 30%;
        }
        .best_product .txt ul li h6 {
            padding: 70px 0;
            font-size: 18px;
        }
        
        /* 소개 */
        .info {
            position: relative;
        }
        .cir02 {
            z-index: -99;
            width: 200px;
            height: 100px;
            position: absolute;
            top: 51.8%;
            border-radius: 100px;
            opacity: 0.8;
            left: 2.8%;
            opacity: 1;
            background-color: #FDA085;
        }
        /* 소개 텍스트설정*/
        .info .txt {
            box-sizing: border-box;
        }
        .info .txt h1 {
            width: 100%;
            font-size: 100px;
            padding-top: 50px;
            box-sizing: border-box;
            height: 25%;
        }
        .info .txt h6 {
            font-size: 30px;
            width: 100%;
            height: 15%;
        }
        .info .infoMenu {
            position: relative;
            width: 100%;
            height: 350px;
            overflow: hidden;
        }
        .info .infoMenu li {
            position: absolute;
            width: 100%;
            height: 20%;
            display: flex;
            align-items: center;
            left: 0;
        }
        .info .infoMenu li:nth-child(1) {
            top: 0;
        }
        .info .infoMenu li:nth-child(2) {
            top: 25%;
        }
        .info .infoMenu li:nth-child(3) {
            top: 50%;
        }
        .info .infoMenu li:nth-child(4) {
            top: 75%;
        }


        .info .infoMenu img {
            width: 15px;
        }
        .info .infoMenu p {
            width: 100%;
            font-size: 20px;
            padding-left: 5%;
        }
        
        
        /* 소개 이미지설정*/
        .info .img {
        }
        .info .imgslid {
            position: relative;
            margin-left: 5%;
            margin-top: 30%;
            width: 90%;
            height: 60%;
        }
        .info .imgslid li {
            position: absolute;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
        }

        .info .imgslid li:nth-child(1)  {
            background-image: url(../img/info_img01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .info .imgslid li:nth-child(2)  {
            background-image: url(../img/info_img02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .info .imgslid li:nth-child(3)  {
            background-image: url(../img/info_img03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            
        }
        .info .imgslid li:nth-child(4)  {
            background-image: url(../img/info_img04.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }




        /* 피부타입 */
        .skin_type {
            position: relative;
        }
        /* 피부타입 텍스트 설정*/
        .skin_type .txt {
            background-image: url(../img/type_txt_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center left;
        }
        .skin_type .txt h1 {
            font-size: 25px;
            text-align: center;
            padding-top: 50px;
        }
        .skin_type .txt h1 em {
            font-size: 30px;
            padding-right: 1%;
        }
        .skin_type .txt h6 {
            margin-top: 1%;
            padding: 5px;
            text-align: center;
            margin-left: 5%;
            width: 90%;
            font-size: 18px;
            background-color: #fff;
        }
        /* 피부타입 이미지 설정*/
        .skin_type .img {
            display: flex;
        }
        .skin_type .img h1 {
            font-size: 25px;
            line-height: 80px;
            width: 30%;
            height: 100%;
            padding-top: 10%;
            padding-left: 5%;
            box-sizing: border-box;
        }
        .skin_type .trail {
            width: 70%;
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        .skin_type .skinImg {
            position: absolute;
            top: 50%;
            margin-top: -250px;
            left: 0;
            height: 360px;
            width: 1500px;
            display: flex;
            justify-content: center;
        }
        .skin_type .skinImg li {
            z-index: 9;
            width: 20%;
            height: 100%;
            margin-right: 10px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            position: relative;
        }
        .skin_type .skinImg>li:nth-child(1) {
            background-image: url(../img/type_dry_01.png);
        }
        .skin_type .skinImg>li:nth-child(2) {
            background-image: url(../img/type_dry_02.png);
        }
        .skin_type .skinImg>li:nth-child(3) {
            background-image: url(../img/type_dry_03.png);
        }
        .skin_type .skinImg>li:nth-child(4) {
            background-image: url(../img/type_dry_04.png);
        }
        .skin_type .skinImg>li:nth-child(5) {
            background-image: url(../img/type_dry_05.png);
        }
        .skin_type .typeIcon {
            left: 10%;
            width: 80%;
            height: 20px;
            display: flex;
            position: absolute;
            top: 58%;
            opacity: 0;
            transition: all 0.5s;
            z-index: 999;
        }
        .skin_type .skinImg li:hover .typeIcon {
            opacity: 1;
        }
        .skin_type .typeIcon li {
            width: 25%;
        }
        .skin_type .typeIcon li:nth-child(1) {
            background-image: url(../img/typeIcon01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            margin-left: 5%;
        }
        .skin_type .typeIcon li:nth-child(2) {
            background-image: url(../img/typeIcon02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .skin_type .typeIcon li:nth-child(3) {
            background-image: url(../img/typeIcon03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        .skin_type .typeIcon li:nth-child(4) {
            background-image: url(../img/typeIcon04.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        /* 피부타입 토글 설정*/
        .skin_type .lose_line {
            width: 300px;
            height: 5px;
            background-color: #FDA085;
            position: absolute;
            bottom: 13%;
            left: 5%;
            z-index: 1;
        }
        .skin_type .type_left {
            position: absolute;
            bottom: 13%;
            left: 5%;
            z-index: 1;
            bottom: 15%;
        }
        .skin_type .type_right {
            position: absolute;
            bottom: 13%;
            left: 5%;
            z-index: 1;
            left: 8%;
            bottom: 15%;
        }
        

        /* 리뷰 */
        .review_gift {
            position: relative;
        }
        .review_gift .txt {
            position: relative;
            background-color: black;
        }
        .review_gift .Mtxt {
            z-index: 3;
            width: 300px;
            position: absolute;
            top: 25%;
            left: 50%;
            margin-left: -130px;
            display: flex;
            font-size: 50px;
        }
        .review_gift em {
            width: 85%;
            color: #fff;
        }
        .review_gift a {
            width: 15%;
            background-image: url(../img/review_instaW.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
        }
        /* 리뷰 텍스트 설정 */
        .review_gift .line img {
            width: 100%;
        }
        .review_gift .txt {
            overflow: hidden;
            position: relative;
        }
        .review_gift .txt video {
            width: 1200px;
            position: absolute;
            top: 15%;
            left: -5%;
        }
        /* 리뷰 텍스트 이미지 설정 */
        .review_gift .img {
            margin-top: 1%;
            display: flex;
            position: relative;
        }
        .review_gift .scroll {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
        }
        .review_gift .imginsta {
            z-index: 10;
            width: 82%;
            height: 100%;
            display: flex;
            align-items: flex-start;
            position: relative;
        }
        .review_gift .imginsta li {
            position: absolute;
            width: 40%;
            height: 600px;
            box-sizing: border-box;
            top: 0;
            top: 3%;
        }
        .review_gift .imginsta li:nth-child(1) {
            background-image: url(../img/review_img01.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            left: -10%;
        }
        .review_gift .imginsta li:nth-child(2) {
            background-image: url(../img/review_img02.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            left: 20%;
            top: 13%;
        }
        .review_gift .imginsta li:nth-child(3) {
            background-image: url(../img/review_img03.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            left: 50%;
        }
        
        /* 푸터설정 */
        
        footer {
            background-image: url(../img/intro_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        /* 푸터 텍스트 설정 */
        footer p,h6,h5 {
            font-size: 10px;
        }
        footer .Ftxt {
            width: 90%;
            margin: 0 auto;
            height: 40%;
            margin-top: 50px;
        }
        footer .Ftxt li {
            height: 12%;
        }
        footer .Ftxt li:nth-child(3) p {
            line-height: 2;
        }
        footer .Ftxt li:nth-child(3) h6 {
            padding-left: 10%;
        }
        footer .Ftxt li:nth-child(4) {
            margin-top: 20px;
        }
        footer .Ftxt li:nth-child(5) span {
            width: 100%;
            height: 50%;
            display: flex;
        }
        footer .Ftxt li:nth-child(5) span h5 {
            margin-left: 10px;
            }
        footer .Ftxt li:nth-child(5) h6 {
            padding-left: 35px;
        }
        footer .Ftxt li:nth-child(5) span:nth-child(1) {
            background-image: url(../img/phone.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
            margin-bottom: 10%;
        }
        footer .Ftxt li:nth-child(5) span:nth-child(2) {
            background-image: url(../img/Clock.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center left;
        }

        footer img {
            width: 50%;
            margin-left: 20%;
        }
        footer .sns {
            width: 20%;
            margin: 0 auto;
            height: 10%;
            display: flex;
            align-items: center;
        }
        footer .sns li {
            margin-left: 10px;
        }
        footer .sns li:nth-child(1) {
            width: 35%;
        }
        footer .sns li:nth-child(2) {
            width: 20%;
        }
        footer .sns li:nth-child(3) {
            width: 40%;
            margin-right: 10px;
        }
        
        footer .sns img {
            width: 100%;
        }
        footer .notice {
            width: 70%;
            margin: 0 auto;
            height: 10%;
            display: flex;
            align-items: center;
        }
        footer .notice li {
            width: 25%;
        }
        footer .notice h6 {
            text-align: center;
        }

        /* 취소구간 */
        .x {
            position: absolute;
            width: 30px;
            height: 30px;
            left: 2%;
            bottom: 4%;
            z-index: 9999;
        }
        /* 메뉴 */
        .menu {
            display: none;
            z-index: 9999;
            position: fixed;
            top: 0;
            left: 0;
        }

        
        .menu  {
            background-color: #fff;
        }
        .menu .img {
            width: 50%;
            float: left;
            background-image: url(../img/menu_bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .menu .img img {
            padding: 200px;
        }
        .menu .txt {
            float: right;
            width: 40%;
            margin: 0 auto;
            height: 100%;
            padding-top: 8%;
        }
        .menu .txt>li {
            width: 100%;
        
        }
        .menu .txt h1 {
            text-align: left;
            padding: 30px 0;
        }
        .menu .txt h1 span {
            position: relative;
            overflow: hidden;
            display: block;
            height: 5px;
        }
        .menu .txt li:nth-child(1) h1 span {
            width: 150px;
        }
        .menu .txt li:nth-child(2) h1 span {
            width: 55px;
        }
        .menu .txt li:nth-child(3) h1 span {
            width: 110px;
        }
        .menu .txt li:nth-child(4) h1 span {
            width: 60px;
        }
        .menu .txt h1 img {
            position: absolute;
            width: 50px;
            height: 4px;

        }
        .menu .txt li:nth-child(1) span img {
            animation: menuline2 3s infinite linear;
            left: -50%;
            top: 0;
        }
        .menu .txt li:nth-child(2) span img {
            animation: menuline1 3.5s infinite linear;
            width: 20px;
            left: -90%;
            top: 0;

        }
        .menu .txt li:nth-child(3) span img {
            animation: menuline2 2.5s infinite linear;
            left: -50%;
            top: 0;
        }
        .menu .txt li:nth-child(4) span img {
            animation: menuline1 2.5s infinite linear;
            width: 20px;
            left: -90%;
            top: 0;
            
        }
        .menu .txt .subMenu {
            width: 100%;
            display: flex;
            justify-content: left;
        }
        .menu .txt .subMenu li {
            padding: 10px;
            box-sizing: border-box;
        }
        .menu .txt .subMenu a {
            padding-left: 20px;
            border-left: 1px solid #5F5003;
        }
        .menu .txt .subMenu li:hover a {
            border-left: 2px solid #FDA085;
            color: #FDA085;
        }
        /* 메뉴 키프레임 */
        @keyframes menuline1 {
            0% {
                left: -90%;
                width: 20px;
            }
            50% {
                left: 0;
                width: 50px;
            }
            100% {
                left: 100%;
                width: 20px;
            }
        }
        @keyframes menuline2 {
            0% {
                left: -50%;
                width: 30px;
            }
            50% {
                left: 0;
                width: 70px;
            }
            100% {
                left: 100%;
                width: 30px;
            }
        }
        /* 상품 상세페이지 */
        .product {
            display: none;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #fff;
            z-index: 9999;
        }
        .product .img {
            float: left;
            width: 50%;
            height: 100%;
            position: relative;
            background-image: url(../img/intro_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        .product .mainImg li {
            position: absolute;
            width: 500px;
            height: 700px;
            left: 50%;
            top: 50%;
            margin-top: -250px;
            margin-left: -250px;
            opacity: 0;
        }
        .product .mainImg li.on {
            opacity: 1;
        }
        .product .mainImg img {
            width: 100%;
        }
        
        .product .productImg {
            position: absolute;
            right: 8%;
            top: 5%;
            width: 50px;
            height: 150px;
        }
        .product .productImg li {
            height: 33%;
            margin-bottom: 1%;
            filter: grayscale(100%);
        }
        .product .productImg li.on {
            border: 1px solid #5F5003;
            filter: none;
        }
        .product .productImg li:nth-child(1) {
            background-image: url(../img/slider_oil01.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .product .productImg li:nth-child(2) {
            background-image: url(../img/product_pageoil.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .product .productImg li:nth-child(3) {
            background-image: url(../img/product_pageface.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }
        .product .txt {
            float: left;
            width: 50%;
            height: 100%;
        }
        .product .title {
            height: 40%;
            width: 100%;
        }
        .product .title li {
            padding: 5px 0;
        }
        .product .title {
            width: 100%;
            height: 35%;
            margin-left: 5%;
            margin-top: 5%;
        }
        .product .title h6 {
            font-size: 32px;
            
        }
        .product .title em {
            font-size: 32px;
            width: 100%;
        }
        .product .title li:nth-child(3) {
            display: flex;
        }
        .product .title p {
            padding: 10px;
            text-align: center;
            margin-right: 10px;
            border-radius: 100px;
            background-color: #fde6ca;
        }
        .product .title img {}
        .product .price {
            height: 40%;
            width: 100%;
        }
        .product .price li {
            display: flex;
            justify-content: right;
            margin: 10px 0;
            margin-right: 5%;
        }
        .product .price li h6 {
            font-size: 15px;
        }
        .product .price li span {
            width: 20px;
            margin-right: 10px;
            height: 20px;
            border: 1px solid #5F5003;
        }
        .product .price li span:hover {
            background-color: #5F5003;
            border: 1px solid #5F5003;
        }

        .product .price li:nth-child(2) h6 {
            padding: 5px;
            font-size: 15px;
            padding-right: 10px;
            padding-left: 500px;
            border: 1px solid #5F5003;
            border-radius: 3px;
            margin-top: 20px;
        }
        .product .price li:nth-child(3) h6 {
            margin: 30px 0;
        }
        .product .price li p {
            font-size: 18px;
            padding: 15px;
            margin-left: 10px;
            border-radius: 10px;
            background-color: #fde6ca;
            box-sizing: border-box;
            transition: all 0.5s;
        }
        .product .price li p:hover {
            border: 1px solid #FDA085;
            color: #FDA085;
            box-sizing: border-box;
        }
        
        .product .producttxt {
            padding-bottom: 10px;
            border-bottom: 3px dotted #5F5003;
        }
        .product .relevant {
            width: 100%;
            height: 20%;
            display: flex;
        }
        .product .relevant li {
            width: 50%;
        }
        .product .txt p {
            padding-left: 20px;
        }
        .product .relevant li:nth-child(2) {
            background-image: url(../img/intro_bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            text-align: center;
        }
        .product .relevant li img {
            padding-top: 20px;
            padding-left: 50px;
        }
        .product .relevant li h6 {
            padding-top: 10px;
            font-size: 12px;
        }
        .product .relevant li h5 {
            font-size: 15px;
            padding-top: 50px;
        }
        

        /* 공지사항 설정 */
        .commu {
            z-index: 9999;
            background-image: url(../img/commu_bg.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center center;
            width: 100%;
            height: 100%;
            position: fixed;
            left: 0;
            top: 0;
            background-color: #fff;
            display: none;
        }
        .commu article {
            width: 80%;
            margin: 0 auto;
        }
        .commu h1 {
            padding: 70px 0;
            font-size: 40px;
            text-align: center;
        }
        .commu .coMenu {
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: center;
        }
        .commu .coMenu li{
            width: 25%;
            margin: 20px 0 ;
        }
        .commu .coMenu p{
            padding-bottom: 10px;
            width: 65px;
            text-align: center;
        }
        .commu .coMenu li.on p{
            color: #FDA085;
            border-bottom: 1px solid #FDA085;
        }
        .commu .coMenu li:hover p{
            color: #FDA085;
            border-bottom: 1px solid #FDA085;
        }
        .commu .notice {
            margin-top: 50px;
            height: 500px;
        }
        .commu .notice li {
            display: flex;
            align-items: center;
            height: 14%;
            border-bottom: 1px solid #5F5003;
        }
        .commu .notice h4 {
            width: 10%;
        }
        .commu .notice p {
            width: 88%;
        }
        .commu .notice li:hover p {
            display: flex;
            color: #FDA085;
        }

        






    /* 미디어 쿼리 구간 ########################################*/
    /* 14440px 이상일때 */
    @media(min-width:1440px){
        #wrap, #wrap1 {
            width: 1280px;
            margin: 0 auto;
        }

    }