@charset "UTF-8";
* {padding: 0; margin: 0;}
img {border: 0; vertical-align: bottom;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #000;}
body {width: 100%; font-family: 'DM Serif Display', serif; }
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');

/* root 방식 - 전처리기법  */
:root {
    --main-color01: #FF6D28;
    --main-color02: #00F5FF;
    --main-font: 'DM Serif Display';
}

body {
    width: 100%;
    height: 22000px;
    background-color: #000;
    overflow-x: hidden;
}

section {
    position: fixed;
    width: 80%;
    height: 70%;
    left: 10%;
    top: 15%;
    perspective: 2000px;
}

section article {
    height: 700px;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -350px;
    width: 100%;
    opacity: 0;
    z-index: 8;
    transition: all 0.5s;
}
section article.on {
    opacity: 1;
    z-index: 9;
}

section article:nth-child(1) {
    transform: translateZ(0);
    background-color: #000;
}

section article:nth-child(2) {
    transform: translateZ(-2500px);
}

section article:nth-child(3) {
    transform: translateZ(-5000px);
}

section article:nth-child(4) {
    transform: translateZ(-7500px);
}
section article:nth-child(5) {
    transform: translateZ(-10000px);
}

section article:nth-child(6) {
    transform: translateZ(-12500px);
}

section article:nth-child(7) {
    transform: translateZ(-15000px);
}

section article:nth-child(8) {
    transform: translateZ(-17500px);
}
section article:nth-child(9) {
    transform: translateZ(-20000px);
}


/* 메뉴설정 */
.menu {
    width: 300px;
    height: 150px;
    position: fixed;
    bottom: -5%;
    left: -10%;
    color: #fff;
    z-index: 999;
    font-weight: normal;
}
.menu li {
    height: 80px;
}

.menu li:hover a {
    color: #00F5FF;
}
.menu a {
    transition: all 0.5s;
    display: block;
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}


/* 이미지 기본설정 */
article div {
    position: relative;
}
article div img {
    position: absolute;
    opacity: 0;
}
article div svg {
    position: absolute;
    opacity: 0;
}
/* epi01 설정  */
.epi01 {
    text-align: center;
    position: relative;
}

.epi01 video {
    text-align: center;
    vertical-align: bottom;
    width: 50%;

}
/* epi02 설정  */
.epi02 {
    display: flex;
}
.epi02Box01 {
    width: 40%;
    margin-left: 7%;
}
.epi02Box02 {
    width: 40%;
    margin-right: 10%;
}
.epi02Ing01 {
    width: 680px;
    top: 0;
    opacity: 0;
}
.epi02Ing02 {
    width: 500px;
    bottom: 15.3%;
    left: -7.2%;
    opacity: 0;
}
.epi02Ing03 {
    width: 450px;
    right: -30%;
    top: 3%;
    z-index: 1;
}
.epi02Ing04 {
    width: 280px;
    right: -20%;
    top: 7%;
    z-index: 1;
}
.epi02Ing05 {
    width: 300px;
    bottom: -5%;
    left: -7%;
}
.epi02Ing06 {
    width: 680px;
    bottom: 0;
}
.epi02Ing07 {
    width: 700px;
    right: -18.2%;
    top: -22.5%;
}
.epi02Ing08 {
    width: 400px;
    right: 45%;
    bottom: 7%;
}
.epi02Ing09 {
    width: 300px;
    right: 53%;
    bottom: 15%;
}

/* epi03 설정  */
.epi03 {
    display: flex;
}

.epi03Box01 {
    width: 23%;
    margin-left: 7%;

}
.epi03Box02 {
    width: 60%;
    margin-right: 10%;
}
.epi03Ing01 {
    width: 550px;
    bottom: -5%;
    left: 0;
}
.epi03Ing02 {
    width: 700px;
    right: 0;
}
.epi03Ing03 {
    width: 1000px;
    right: -3.7%;
    top: -3.7%;
}
.epi03Ing04 {
    width: 500px;
    right: 0.5%;
    bottom: -3.7%;
}
.epi03Ing05 {
    width: 350px;
    right: -15%;
    top: -10%;
}
.epi03Ing06 {
    width: 150px;
    right: -3.5%;
    top: 1%;
}
.story03svg01 {
    width: 240px;
    bottom: 5%;
    left: 51%;
    stroke-dasharray: 1100;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
.story03svg02 {
    bottom: 12%;
    left: 83%;
    width: 230px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
.story03svg03 {
    width: 235px;
    top: 16%;
    right: -93%;
    stroke-dasharray: 570;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
.story03svg04 {
    width: 219px;
    top: -2.5%;
    right: -53%;
    stroke-dasharray: 550;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}


/* epi04 설정  */
.epi04 {
    display: flex;
}
.epi04Box01 {
    width: 40%;
    margin-left: 7%;

}
.epi04Box02 {
    width: 40%;
    margin-right: 15%;
}
.epi04Ing01 {
    width: 650px;
    left: 0;
    bottom: -5%;
    z-index: 1;
}
.epi04Ing02 {
    width: 700px;
    z-index: 2;
    bottom: -10%;
    left: 0%;
}
.epi04Ing03 {
    width: 400px;
    right: -45%;
    top: -10%;
    z-index: 2;
}
.epi04Ing04 {
    width: 300px;
    right: -35%;
    top: -2%;
    z-index: 2;
}
.epi04Ing05 {
    width: 500px;
    left: 0;
    top: 0;
}
.epi04Ing06 {
    width: 480px;
    bottom: 20%;
    right: 3%;
}
.epi04Ing07 {
    width: 400px;
    bottom: -2%;
    left: -10%;
    z-index: 2;
}
.epi04Ing08 {
    width: 230px;
    bottom: 3%;
    left: 12%;
    z-index: 2;
}

/* epi05 설정  */
.epi05 {
}
.epi05Box01 {
    width: 80%;
    height: 100%;
    margin-left: 10%;
}
.epi05Ing01 {
    width: 350px;
    right: 0;
    bottom: 0;
}
.epi05Ing02 {
    right: 33%;
    width: 350px;
    bottom: 0;
}
.epi05Ing03 {
    width: 400px;
    bottom: 0;
    left: 0;
}
.epi05Ing04 {
    width: 1220px;
    bottom: 0;
    z-index: -1;
}
.story05svg01 {
    width: 130px;
    top: 17.5%;
    right: 15.1%;
    stroke-dasharray: 500;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
.story05svg02 {
    width: 70px;
    bottom: 24%;
    right: 19.7%;
    stroke-dasharray: 500;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
.story05svg03 {
    width: 80px;
    top: 24%;
    left: 10.5%;
    stroke-dasharray: 500;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
/* epi06 설정  */
.epi06 {
    display: flex;
}
.epi06Box01 {
    width: 53%;
    margin-left: 7%;
}
.epi06Box02 {
    width: 40%;
    margin-right: 10%;
}
.epi06Ing01 {
    width: 350px;
    left: 5%;
}
.epi06Ing02 {
    width: 780px;
    bottom: 0;
}
.epi06Ing03 {
    width: 660px;
    bottom: -3%;
}
.epi06Ing04 {
    width: 400px;
    top: 15%;
    right: -15%;
}
.epi06Ing05 {
    width: 350px;
    top: 22%;
    right: -12.5%;
}
.epi06Ing06 {
    width: 500px;
    left: -7%;
}
.epi06Ing07 {
    width: 460px;
    top: 6.8%;
}
.epi06Ing08 {
    width: 400px;
    bottom: 5%;
    left: -5%;
}
.epi06Ing09 {
    width: 300px;
    bottom: 10%;
    left: 7%;
}

/* epi07 설정  */
.epi07 {}
.epi07Box01 {
    width: 80%;
    margin-left: 10%;
    height: 100%;
}
.epi07Ing01 {
    top: 2%;
    width: 1300px;
}
.epi07Ing02 {
    width: 380px;
    left: 4%;
    top: 3%;
}
.epi07Ing03 {
    width: 350px;
    left: 45.5%;
}
.epi07Ing04 {
    width: 253px;
    right: -5%;
    top: 12.5%;
}
.epi07Ing05 {
    width: 600px;
    right: -13%;
}
.epi07Ing06 {
    width: 500px;
    right: -12%;
    top: 3%;
}
.epi07Ing07 {
    width: 600px;
    bottom: -5%;
    left: 0;
}
.epi07Ing08 {
    width: 500px;
    bottom: 10%;
    left: 4.5%;
}
.story07svg01 {
    width: 120px;
    top: 22%;
    left: 55.5%;
    stroke-dasharray: 500;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}
.story07svg02 {
    width: 150px;
    bottom: 43%;
    right: -1%;
    stroke-dasharray: 500;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}

/* epi08 설정  */
.epi08 {}
.epiBox08 {
    width: 80%;
    height: 100%;
    margin-left: 8%;
}
.epi08Ing01 {
    width: 1100px;
    right: 0;
    top: 0;
}
.epi08Ing02 {
    width: 280px;
    right: 0;
    top: 3%;
}
.epi08Ing03 {
    width: 285px;
    left: 47%;
    bottom: -2.6%;
}
.epi08Ing04 {
    width: 350px;
    top: -10%;
    left: 10.2%;
}
.epi08Ing05 {
    width: 500px;
    bottom: 5%;
}
.epi08Ing06 {
    width: 400px;
    bottom: 11%;
    left: 5%;
}
.story08svg01 {
    width: 270px;
    top: -4%;
    left: 15.5%;
    stroke-dasharray: 500;
    stroke-dashoffset: 600;
    animation: dash 4s linear infinite;
}


/* epi09 설정  */
.epi09 {
    display: flex;
}
.epiBox09 {
    width: 80%;
    margin-left: 8%;
}
.epi09Ing01 {
    width: 1220px;
    height: 700px;
    background-color: #fff;
}
.epi09Ing02 {
    width: 500px;
    right: 0;
}
.epi09Ing03 {
    width: 800px;
    bottom: 0;
}
.epi09Ing04 {
    width: 600px;
    left: 2%;
}
.epi09Ing05 {
    width: 350px;
    left: 13%;
    top: 6.5%;
}

/* 키프레임 */
@keyframes dash {
    from {
        stroke-dashoffset: 600;
    }
    to {
        stroke-dashoffset: 0;
    }
}
