@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
*{margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #333;}
img {border: none; vertical-align: bottom;}
body {font-family: 'Rubik Bubbles', cursive;}


#wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/bg_afternoon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

h1{
    position: fixed;
    width: 113px;
    height: 108px;
    top: 30px;
    left: 30px;
    background-image: url(../img/logo_b.png);
}

.gnb {
    width: 1000px;
    top: 30px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    right: 10px;
    box-sizing: border-box;
}
.gnb li {
    width: 20%;
}
.gnb a {
    display: block;
    font-size: 20px;
}

section {
    position: fixed;
    top: 200px;
    right: -200px;
    width: 1226px;
    height: 809px;
    background-image: url(../img/phone_afternoon.png);
}

.txt{
    position: fixed;
    font-size: 40px;
    width: 450px;
    height: 200px;
    top: 50%;
    margin-top: -100px;
    left: 30px;
}
.txt p {
    color: #fff;
}
.txt em:nth-child(1) {
    color: #999;
}

.time {
    position: absolute;
    top: 100px;
    left: 135px;
    width: 550px;
    height: 310px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
}

.time span {}

nav {
    position: fixed;
    width: 100%;
    height: 100px;
    left: 0;
    bottom: 0;
}

nav ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav li {
    width: 20%;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    color: #fff;
}