@charset "UTF-8";
* {padding: 0; margin: 0;}
img {border: 0; vertical-align: bottom;}
ul, ol {list-style: none;}
a {text-decoration: none; color: #fff;}
body {width: 100%; color: #fff; font-family: 'LeferiPoint-WhiteObliqueA'; overflow: hidden;}
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color:#FDCBC0;
    --sub01-font : #8857F2;
    --sub02-font : #F20FE3;

}

#wrap {
    position: absolute;
    width: 100%;
    height: 800px;
    background-color: var(--main-color);
}


.logoBox {
    width: 300px;
    height: 240px;
    margin-top: -200px;
    position: fixed;
    left: 0;
    top: 50%;
    text-align: center;
}
.logoBox strong {
    line-height: 5;
}
.logoBox span {
    display: block;
}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    top: 0;
}
article { 
    float: right;
    width: 15%;
    height: 100%;
    position: relative;
}
article h2 {
    position: absolute;
    top: 295px;
    left: 20px;
    border-left: 3px solid var(--sub01-font);
    padding-left: 15px;
    color: #666;
    z-index: 3;
    transition: all 0.8s;
}
article div {
    position: absolute;
    width: 100%;
    height: 0;
    top: 300px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 1s;
}
article video {
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 1;
    opacity: 0;
}
article h3 {
    position: absolute;
    bottom: 210px;
    right: -320px;
    padding-right: 15px;
    color: #fff;
    z-index: 4;
}
article p {
    position: absolute;
    width: 300px;
    right: -320px;
    bottom: 50px;
    height: 150px;
    padding-right: 10px;
    z-index: 5;
    text-align: right;
}
article:hover h2 {
    color: #fff;
    border-left: 3px solid #fff;
}
article:hover div {
    height: 80px;
    top: 270px;
}