@charset "UTF-8";

* {margin: 0; padding: 0;}
ul {list-style: none;}
a {text-decoration: none; color: #333;}
img {vertical-align: bottom; border: none;}

@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #000;
}
ul {list-style: none;}
img {border: none;
vertical-align: bottom;}


/*  화면크기설정 */
header {
  background-color: #fff;
  width: 100%;
  height: 200px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
section {
  width: 100%;
  height: 800px;
  position: relative;
}
section:nth-child(1) {
  background-color: #ccc;
}
section:nth-child(2) {
  background-color: #bbb;
}
section:nth-child(3) {
  background-color: #aaa;
}
section:nth-child(4) {
  background-color: #999;
}
section:nth-child(5) {
  background-color: #888;
}
section:nth-child(6) {
  background-color: #777;
}
section:nth-child(7) {
  background-color: #666;
}
section:nth-child(8) {
  background-color: #555;
}
section:nth-child(9) {
  background-color: #444;
}

#wrapper {
  width: 1280px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(255, 255, 255, 0.5);/*삭제예정*/
  position: relative;
}

/* header상세설정 */

header {background-color: #f6f5ef;
   height: 120px;
font-size: 13px;
font-family: Arial, Helvetica, sans-serif;}
header #wrapper {display: flex;
align-items: center;}
header h1 {width: 10%;}
header img {}

nav {width: 90%;}
nav .util {display: flex;
justify-content: flex-end;}
nav .util ul{display: flex;
justify-content: flex-end;}
nav .util li {}
nav .util a {display: block;
            padding: 10px;}


nav .search {background-color: #fff;
border: solid #666 1px;
position: relative;
width:40px;
border-radius: 4px;
transition: all 0.8s;}
nav .search input {display: none;}
nav .search a {position: absolute;
                right: 0;
            top: -5px;}
nav .search img {}


/* 서치를 클릭했을때 값  */
nav .search.on {width:160px;}
nav .search.on input {
    display: inline-block;
    width: 120px;
    margin-top: 6px;
padding: 3px 10px;
border: none;
font-size: 14px;}

nav .gnb{display: flex;
    justify-content: flex-end;}
nav .gnb>li {}
nav .gnb>li>a {display: block;
                padding: 10px 20px;}


/* 서브메뉴 */

.sub_menu {display: none;}
.sub_menu .sub1 {width: 100%;
    padding: 20px 0;
background-color: #000;}
.sub_menu #wrapper {
    display: flex;
}

.sub1 ul {width: 20%;}
.sub1 li {}
.sub1 li:nth-child(1) {font-weight: bold;
    margin-bottom: 20px;}