@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');
/* 전체설정 */
* {margin: 0; padding: 0; color: #fff;}
ul {list-style: none;}
img {vertical-align: bottom; border: 0;}
a {text-decoration: none; color: #444545; color: #fff;}
body {font-family: 'Noto Sans KR', sans-serif;}
em {font-style: normal; font-weight: normal; font-size: 22px;}


/* 기본설정 */
/* 해더 기본설정 */
header {
    position: relative;
    width: 100%;
    height: 130px;
    display: flex;
    flex-wrap: wrap;
    z-index: 9999;
}
.util {
    width: 200px;
    height: auto;
    position: absolute;
    top: 0;
    right: 15px;
    display: flex;
    top: 15px;
}
.util_sns {
    display: flex;
    width: 35%;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
    font-size: 12px;
}
.util_my {
    display: flex;
    width: 65%;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
}
.util_my img {
    width: 14px;
    height: auto;
}
header h1 {
    position: absolute;
    width: 10%;
    height: 100%;
}
header h1 img {
    width: auto;
    height: 110px;
}
.gnb {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.gnb ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb li {
    padding: 0 60px;
    text-align: center;
}
.gnb a {
    color: #444545;
} 
.sub_menu {
    width: 100%;
    height: 120px;
    position: relative;
}
.sub_menu>div {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    position: absolute;
    left: 0;
    top: 0;
}

/*  섹션 기본설정 */
section {
    width: 100%;
    height: 1080px;
    margin-bottom: 110px;

}
/* 슬라이더 기본설정 */
.slider {
    height: 900px;
    position: relative;
    background-color: violet;
    background-image: url(img/dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;background-position: top center;
}
.slider .imgBox {
}
.slider .imgBox ul {}
.slider .imgBox li {}


.slider .iconBox {
    position: absolute;
    width: 170px;
    height: 60px;
    left: 40px;
    bottom: 40px;
}

.iconBox .icon {
    display: flex;
}
.iconBox .icon li {
}
.iconBox .icon a {
    font-size: 10px;
}



.slider .bar {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    right: 15px;
    height: 80px;
    width: 15px;
}
.slider .bar ul {
    width: 100%;
    height: 100%;
}
.slider .bar li {
}
.slider .bar a {}

/* 뉴스 기본설정 */
.news {
    height: 600px;
}
.news h2 {
    height: 10%;
    font-family: 'Comic Neue', cursive;
    font-size: 24px;
}
.news .iconBox {
    height: 90%;
}

/* 소개 기본설정 */
.intro {
    display: flex;
    overflow: hidden;
}
.intro .txtBox {
    width: 1600px;
    height: 708px;
    border-radius: 800px;
    justify-content: space-between;
}
.intro .conBox {
    width: 2000px;
    height: 880px;
    border-radius: 800px;
}
/* 캠페인 기본설정 */
.campaign {
    background-image: url(img/cam_bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.box01 {}
.box02 {}
.box03 {}
.box04 {}

/* 공지사항 기본설정 */
.ques {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.ques span:nth-child(1) {
}
.ques span:nth-child(2) {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.ques span:nth-child(3) {
    position: absolute;
    top: 160px;
    left: 60px;
}
.ques span:nth-child(4) {
    width: 100%;
    left: 50%;
    bottom: 0;
    position: absolute;
}
.ques .imgBox {
    width: 40%;
    height: 100%;
}
.ques .conBox {
    width:48%;
    height: 100%;
}
.ques .conBox ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 550px;
    
}
.ques .conBox li {
    width: 49.5%;
    height: 49.5%;
    background-color:  #45a462;
}
.ques .conBox li:nth-child(1) {
    margin-right: 1%;
    margin-bottom: 1%
}
.ques .conBox li:nth-child(2) {
    margin-bottom: 1%;
}
.ques .conBox li:nth-child(3) {
    margin-right: 1%;
}
.ques .more {
    position: absolute;
    right: 40px;
    bottom: 30px;
    display: flex;
    font-size: 24px;
}

/* 비건 기본설정 */
.vagen {
    height: 600px;
    background-color: #d2de26;
    position: relative;
}
.vagen .txtBox {}
.vagen .imgBox {}
.vagen .more {
    position: absolute;
    right: 40px;
    bottom: 30px;
    display: flex;
    font-size: 24px;
}
/* 푸터 기본설정 */
footer {
    width: 100%;

}
footer p {
    background-color: #999;
    padding: 50px 0;
    padding-left: 15px;
    color: #fff;
}
.top {
    bottom: 30px;
    right: 15px;
    position: fixed;
    z-index: 9999;
}




/* 해더설정 */
header {
}
.util {

}
.util_sns {
    border: 1px solid #444545;
    border-radius:10px ;
    box-shadow: 0.1px 0.1px 3px;
}
.util_sns i {
    color: #444545;
}
.util_my {
    border: 1px solid #444545;
    border-radius:10px ;
    box-shadow: 0.1px 0.1px 3px;
}
.util_my li {
    color: #444545;
}
header h1 {
}
header h1 img {
    margin-top: 15px;
    margin-left: 80px;
}
.gnb {
    padding-top: 20px;
    margin-left: 100px;
}
.gnb ul {
}
.gnb li {
}
.gnb li:nth-child(1) {
}
.gnb a {
    display: block;
    font-size: 16px;
}
.sub_menu>div>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu01 {
    height: 50px;
}
.menu01 ul {
    width: 90%;
    margin-left: 4.9%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu01 li {
    padding: 0 65px;
}
.menu01 a {
    display: block;
    font-size: 14px;
}

.menu02 {
    height: 50px;
    }
.menu02 ul {
    width: 86.3%;
    margin-left: 10.8%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu02 li {
    padding: 0 55px;
}
.menu02 a {
    display: block;
    font-size: 14px;
}
.menu03 {
    height: 50px;
}
.menu03 ul {
    width: 86.3%;
    margin-left: 15.3%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu03 li {
    padding: 0 55px;
}
.menu03 a {
    display: block;
    font-size: 14px;
}

.menu04 {
    height: 50px;
}
.menu04 ul {
    width: 86.3%;
    margin-left: 16.8%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu04 li {
    padding: 0 30px;
}
.menu04 a {
    display: block;
    font-size: 14px;
}
.menu05 {
    height: 50px;
}
.menu05 ul {
    width: 86.3%;
    margin-left: 31.65%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu05 li {
    padding: 0 55px;
}
.menu05 a {
    display: block;
    font-size: 14px;
} 

/* .menu01 {
    width: 90%;
    margin-left: 4.9%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu01 li {
    padding: 0 65px;
}
.menu01 a {
    display: block;
    font-size: 14px;
}
.menu02 {
    width: 86.3%;
    margin-left: 10.8%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu02 li {
    padding: 0 55px;
}
.menu02 a {
    display: block;
    font-size: 14px;
}
.menu03 {
    width: 86.3%;
    margin-left: 15.3%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu03 li {
    padding: 0 55px;
}
.menu03 a {
    display: block;
    font-size: 14px;
}

.menu04 {
    width: 86.3%;
    margin-left: 16.8%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu04 li {
    padding: 0 30px;
}
.menu04 a {
    display: block;
    font-size: 14px;
}
.menu05 {
    width: 86.3%;
    margin-left: 31.65%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.menu05 li {
    padding: 0 55px;
}
.menu05 a {
    display: block;
    font-size: 14px;
} */

/* 슬라이더설정 */
.slider {
    overflow: hidden;
    position: relative;
}

.slider h1 {
    font-size: 20px;
    min-width:11px;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.slider h1::before {
    content: "인간과 동물은 생태 공동체를 이루는 공생의 관계입니다.";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typing 5s linear infinite;
}

.imgBox {
}
.imgBox .icon {
}
.imgBox .icon li {}
.imgBox .icon p {}


.slider .iconBox {
}
.slider .iconBox ul {
    
    width: 100%;
    height: 100%;
}
.slider .iconBox li {
    width: 100%;
    text-align: center;
}
.slider .iconBox img {
    width: 100%;
    height: 90%;
}
.slider .iconBox a {
    width: 100%;
    height: 10%;
}


.slider .bar {
}
.slider .bar ul {
    width: 100%;
    height: 100%;
}
.slider .bar li {
    width: 100%;
    height: 13px;
    background-image: url(img/paly_bar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.slider .bar li:nth-child(1) {
    background-position: top;
}
.slider .bar a {}

/* 뉴스 설정 */
.news {
    box-sizing: border-box;

}
.news h2 {
    padding-left: 5%;
    padding-top: 50px;
    color: #444545;
}
.news .iconBox {
    width: 90%;
    margin: 0 auto;
    height: 60%;
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    background-image: url(img/news_line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.news .iconBox li {
    position: relative;
    width: 110px;
    height: 120px;
    box-sizing: border-box;
    margin-left: 50px;
}
.news .iconBox li:nth-child(1) p {
    position: absolute;
    top: 60px;
}
.news .iconBox li:nth-child(2) p {
    position: absolute;
    top: -40px;
}
.news .iconBox li:nth-child(3) p {
    position: absolute;
}
.news .iconBox li:nth-child(4) p {
    position: absolute;
    top: 50px;
    left: 20px;
}
.news .iconBox li:nth-child(5) p {
    position: absolute;
    top: 50px;
}
.news .iconBox li:nth-child(6) p {
    position: absolute;
    top: -60px;
}
.news .iconBox img {
    width: 110px;
    height: 120px;
}
.news .iconBox a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 10px;
    background-color: #f4f2a7;
    margin-top: 10px;
    border-radius: 100px;
    color: #444545;
    font-weight: 550;
}

.news .iconBox li:nth-child(1) {}
.news .iconBox li:nth-child(2) {}
.news .iconBox li:nth-child(3) {}
.news .iconBox li:nth-child(4) {}
.news .iconBox li:nth-child(5) {}
.news .iconBox li:nth-child(6) {}


/* 소개영역 */
.intro {
    position: relative;
}
.intro .txtBox {
    position: absolute;
    left: -900px;
    top: 0;
    background-color: #699fc9;
    text-align: left;
    box-sizing: border-box;
    padding-left: 950px;
    opacity: 0.8;
}
.intro .txtBox h1 {
    width: 100%;
    font-size: 50px;
    font-weight: 300;
    padding-top: 200px;
}
.intro .txtBox  p {
    padding-top: 73px;
    width: 100%;
    font-size: 25px;
}
.intro .conBox {
    position: absolute;
    right: -900px;
    background-color: #699fc9;
    opacity: 0.8;
    bottom: 0;
    text-align: center;
    padding-top: 350px;
    box-sizing: border-box;
    padding-left: 200px;
}

.activi {
    width: 600px;
    height: 560px;
    display: flex;
    position: relative;
    top: -150px;
    padding-left: 50px;
}
.activi li {
    position: absolute;
}
.activi li:nth-child(1) {

}
.activi p {
    position: absolute;
    top: -100px;
}
.activi img {}
.activi_btn {
    width: 300px;
    height: 350px;
    position: absolute;
    right: 900px;
    top: 200px;
}
.activi_btn li {
    width: 100%;
    padding: 10px 0;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 5px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.activi_btn a {
    display: block;
}
.activi_btn li.on {
    margin-left: 20px;

}
.activi_btn a {
    display: block;
    font-size: 24px;
    color: #699fc9;
}



/* 캠페인 설정 */
.campaign {
    width: 100%;
    height: 3150px;
    overflow: hidden;
    vertical-align: bottom;
    position: relative;
}
.campaign img {
    width: 650px;
    height: auto;
}

.box1 {
    position: absolute;
    width: 50%;
    height:20%;
    right: 0;
    top: 0%;
}
.box2 {
    position: absolute;
    width: 50%;
    height: 20%;
    left: 0;
    top: 20%;
    box-sizing: border-box;
}
.box2 img {
    padding-left: 300px;
}
.box3 {
    position: absolute;
    width: 50%;
    height: 20%;
    right: 0;
    top: 40%;
}
.box4 {
    position: absolute;
    width: 50%;
    height: 20%;
    left: 0;
    top: 60%;
    box-sizing: border-box;
}
.box4 img {
    padding-left: 300px;
}
.box5 {
    position: absolute;
    width: 50%;
    height:20%;
    right: 0;
    top: 80%;
}

/* 공지사항 설정 */
.ques {
    box-sizing: border-box;
}
.ques span:nth-child(1) {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #1e5f31;
}
.ques span:nth-child(2) {
}
.ques span:nth-child(3) {
    padding-left: 50px;
    padding-top: 60px;
}
.ques span:nth-child(4) {
}
.ques .imgBox {
    font-size: 32px;
}
.ques .imgBox h1{
    color: #444545;
    padding-left: 150px;
}
.ques .imgBox h1:nth-child(1) {
    padding-top: 90px;
}
.ques .imgBox h1:nth-child(2) {
    padding-left: 250px;
}
.ques .conBox {
}
.ques .conBox ul {
    padding-top: 110px;
}
.ques .conBox li {
    border-radius: 30px;
    box-sizing: border-box;
}
.ques .conBox li h1 {
    font-weight: normal;
    padding-top: 32px;
    padding-left: 60px;
    font-size: 32px;
}
.ques .conBox li p {
    width: 330px;
    padding-top: 30px;
    padding-left: 60px;
    color: #163a1f;
    font-size: 20px;
    font-weight: bold;
}


.ques .more {
}
/* 비건 설정 */
.vagen {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.vagen span:nth-child(1) {
    position: absolute;
    left: 0;
    top: 220px;
}
.vagen span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 250px;
}
.vagen .txtBox {
    width: 55%;
    box-sizing: border-box;
    padding-left: 200px;
}
.vagen .txtBox h1 {
    padding-bottom: 100px;
    font-size: 50px;
}
.vagen .txtBox p {
    font-size: 25px;
}
.vagen .imgBox {
    width: 45%;
}
.vagen .imgBox ul {
    position: relative;

}
.vagen .imgBox li {
    position: absolute;

}
.vagen .imgBox li:nth-child(1) {
    z-index: 3;
    top: -90px;
    left: 150px;
}
.vagen .imgBox li:nth-child(1) img {
    width: 270px;
    height: 250px;
}
.vagen .imgBox li:nth-child(2) {
    z-index: 2;
    top: -120px;
    left: 370px;
}
.vagen .imgBox li:nth-child(2) img {
    width: 240px;
    height: 190px;
}
.vagen .imgBox li:nth-child(3) {
    z-index: 1;
    top: 40px;
    left: 380px;
}
.vagen .imgBox li:nth-child(3) img {
    width: 180px;
    height: 160px;
}
.vagen .more {
    
}


@keyframes typing{
    0% {
    width: 0%;
    }
    100% {
    width: 100%;
    }
}