@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap');
/* 전체설정 */
* {margin: 0; padding: 0; color: #fff;}
ul {list-style: none;}
img {vertical-align: bottom; border: 0;}
a {text-decoration: none; color: #444545; color: #fff;}
body {font-family: 'Noto Sans KR', sans-serif;}
em {font-style: normal; font-weight: normal;}


/* 기본설정 */
/* 해더 기본설정 */
header {
    position: relative;
    width: 100%;
    height: 180px;
    display: flex;
}
.util {
    width: 250px;
    height: auto;
    position: absolute;
    top: 0;
    right: 15px;
    display: flex;
    top: 15px;
}
.util_sns {
    display: flex;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px;
}
.util_my {
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
}
header h1 {
    position: absolute;
    width: 10%;
    height: 100%;
}
.gnb {
    width: 100%;
    height: 100%;
}
.gnb ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gnb li {
    width: 10%;
    text-align: center;
}
.gnb a {
    color: #444545;
} 
.nav {
    width: 100%;
    height: 180px;
    z-index: 9999;
    position: relative;
}
.nav ul {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.nav li {
    padding: 100px;
}
.nav a {
    display: block;
    font-size: 18px;
}
/*  섹견 기본설정 */
section {
    width: 100%;
    height: 1080px;
    margin-bottom: 110px;
}
/* 슬라이더 기본설정 */
.slider {
    position: relative;
    background-color: violet;
    background-image: url(img/dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;background-position: top center;
}
.slider .imgBox {
}
.slider .imgBox ul {}
.slider .imgBox li {}


.slider .iconBox {
    position: absolute;
    width: 460px;
    height: 200px;
    left: 40px;
    bottom: 80px;
}
.slider .iconBox ul {
    width: 100%;
    height: 100%;
    display: flex;

}
.slider .iconBox li {
    float: left;
    width: 33.3333%;
    height: 100%;
}

.slider .bar {
    position: absolute;
    top: 50%;
    margin-top: -56px;
    right: 15px;
    height: 140px;
    width: 30px;
}
.slider .bar ul {}
.slider .bar li {}
.slider .bar a {}

/* 뉴스 기본설정 */
.news {
    height: 600px;
}
.news h2 {
    height: 10%;
}
.news .iconBox {
    height: 90%;
}

/* 소개 기본설정 */
.intro {
    display: flex;
    overflow: hidden;
}
.intro .txtBox {
    width: 1600px;
    height: 1100px;
    background-color: sandybrown;
    border-radius: 800px;
    justify-content: space-between;
}
.intro .conBox {
    width: 2000px;
    height: 1100px;
    background-color: salmon;
    border-radius: 800px;
}
/* 캠페인 기본설정 */
.campaign {
    background-image: url(img/cam_bg.png);
    background-size: cover;
    background-attachment: fixed;
}
.box01 {}
.box02 {}
.box03 {}
.box04 {}

/* 공지사항 기본설정 */
.ques {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
}
.ques span:nth-child(1) {
}
.ques span:nth-child(2) {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.ques span:nth-child(3) {
    position: absolute;
    top: 160px;
    left: 60px;
}
.ques span:nth-child(4) {
    width: 100%;
    left: 50%;
    bottom: 0;
    position: absolute;
}
.ques .imgBox {
    width: 40%;
    height: 100%;
}
.ques .conBox {
    width:48%;
    height: 100%;
}
.ques .conBox ul {
    display: flex;
    flex-wrap: wrap;
    width: 1130px;
    height: 610px;
}
.ques .conBox li {
    width: 49.5%;
    height: 49.5%;
    background-color:  #45a462;
}
.ques .conBox li:nth-child(1) {
    margin-right: 1%;
    margin-bottom: 1%
}
.ques .conBox li:nth-child(2) {
    margin-bottom: 1%;
}
.ques .conBox li:nth-child(3) {
    margin-right: 1%;
}
.ques .more {
    position: absolute;
    right: 40px;
    bottom: 30px;
    display: flex;
    font-size: 24px;
}

/* 비건 기본설정 */
.vagen {
    height: 800px;
    background-color: #d2de26;
    position: relative;
}
.vagen .txtBox {}
.vagen .imgBox {}
.vagen .more {
    position: absolute;
    right: 40px;
    bottom: 30px;
    display: flex;
    font-size: 24px;
}
/* 푸터 기본설정 */
footer {
    width: 100%;

}
footer p {
    background-color: #999;
    padding: 50px 0;
    padding-left: 15px;
    color: #fff;
}
.top {
    bottom: 30px;
    right: 15px;
    position: fixed;
    z-index: 9999;
}




/* 해더설정 */
header {
}
.util {

}
.util_sns {
    border: 1px solid #444545;
    border-radius:10px ;
    box-shadow: 0.1px 0.1px 3px;
}
.util_sns i {
    color: #444545;
}
.util_my {
    border: 1px solid #444545;
    border-radius:10px ;
    box-shadow: 0.1px 0.1px 3px;
}
.util_my li {
    color: #444545;
}
header h1 {
}
header h1 img {
    margin-top: 15px;
    margin-left: 80px;
}
.gnb {
}
.gnb ul {
}
.gnb li {
    border-right: 5px solid #999;
}
.gnb li:nth-child(1) {
    border-left: 5px solid #999;
}
.gnb li a {
    display: block;
    font-size: 24px;
}
.nav {
}
.menu01 {
    opacity: 1;
}
.menu01 ul {
    width: 50%;

}
.menu01 li {}
.menu01 a {}
.menu02 {
    opacity: 0;
}
.menu02 ul {}
.menu02 li {}
.menu02 a {}
.menu03 {
    opacity: 0;
}
.menu03 ul {}
.menu03 li {}
.menu03 a {}
.menu04 {
    opacity: 0;
}
.menu04 ul {}
.menu04 li {}
.menu04 a {}
.menu05 {
    opacity: 0;
}
.menu05 ul {}
.menu05 li {}
.menu05 a {}

/* 슬라이더설정 */
.slider {
}
.slider .imgBox {
}
.slider .imgBox ul {}
.slider .imgBox li {}
.slider .imgBox p {}


.slider .iconBox {
}
.slider .iconBox ul {
    width: 100%;
    height: 100%;
}
.slider .iconBox li {
    width: 100%;
    text-align: center;
}
.slider .iconBox img {
    width: 100%;
    height: 90%;
}
.slider .iconBox a {
    width: 100%;
    height: 10%;
}
.slider .iconBox li:nth-child(1) {
    width: 28%;
}
.slider .iconBox li:nth-child(2) {
    width: 44%;
}
.slider .iconBox li:nth-child(3) {
    width: 28%;
}
.slider .iconBox a {}

.slider .bar {
}
.slider .bar ul {
    width: 100%;
    height: 100%;
}
.slider .bar li {
    width: 100%;
    height: 32px;
    background-image: url(img/paly_bar.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.slider .bar li:nth-child(1) {
    background-position: top;
}
.slider .bar a {}

/* 뉴스 */
.news {
    box-sizing: border-box;

}
.news h2 {
    padding-left: 60px;
    padding-top: 50px;
    color: #444545;
}
.news .iconBox {
    width: 90%;
    margin: 0 auto;
    height: 60%;
    padding-top: 200px;
    display: flex;
    justify-content: space-around;
    background-image: url(img/news_line.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.news .iconBox li {
    width: 110px;
    height: 200px;
    box-sizing: border-box;
}
.news .iconBox img {
    
}
.news .iconBox a {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
    color: #444545;
}

.news .iconBox li:nth-child(1) {
}
.news .iconBox li:nth-child(2) {
}
.news .iconBox li:nth-child(3) {
}
.news .iconBox li:nth-child(4) {
}
.news .iconBox li:nth-child(5) {
}
.news .iconBox li:nth-child(6) {
}


/* 소개영역 */
.intro {
    position: relative;
}
.intro .txtBox {
    position: absolute;
    left: -500px;
    top: 0;
    background-color: #699fc9;
    text-align: left;
    padding-top: 350px;
    box-sizing: border-box;
    padding-left: 550px;
}
.intro .txtBox h1 {
    width: 100%;
    font-size: 50px;
    font-weight: 300;
}
.intro .txtBox  p {
    padding-top: 73px;
    width: 100%;
    font-size: 40px;
}
.intro .conBox {
    display: flex;
    position: absolute;
    right: -500px;
    background-color: #699fc9;
    top: 0;
    text-align: center;
    padding-top: 350px;
    box-sizing: border-box;
    padding-left: 550px;
}

.activi {
    width: 600px;
    height: 560px;
    display: flex;
    position: relative;
    top: -50px;
}
.activi li {
    position: absolute;
}
.activi p {
    position: absolute;
    top: -100px;
}
.activi img {}
.activi_btn {
    width: 300px;
    height: 350px;
    margin-left: 100px;
}
.activi_btn ul {
    width: 900%;
    height: 100%;
}
.activi_btn li {
    width: 100%;
    padding: 20px 0;
    border-radius: 100px;
    background-color: #fff;
    box-shadow: 1px 1px 5px;
    margin-bottom: 10px;
    padding-right: 50px;
}
.activi_btn li:nth-child(1) {
    
}
.activi_btn a {
    display: block;
    font-size: 24px;
    color: #699fc9;
}



/* 캠페인 설정 */
.campaign {
    width: 100%;
    height: 2500px;
 overflow: hidden;
    vertical-align: bottom;
    position: relative;
}
.box1 {
    position: absolute;
    width: 50%;
    height:25%;
    background-color: #d2de26;
    left: 0;
    top: 0;
}
.box2 {
    position: absolute;
    width: 50%;
    height: 25%;
    background-color: #d2de26;
    right: 0;
    top: 25%;
}
.box3 {
    position: absolute;
    width: 50%;
    height: 25%;
    background-color: #d2de26;
    left: 0;
    top: 50%;
}
.box4 {
    position: absolute;
    width: 50%;
    height: 25%;
    background-color: #d2de26;
    right: 0;
    top: 75%;
}


/* 공지사항 설정 */
.ques {
    box-sizing: border-box;
}
.ques span:nth-child(1) {
    width: 100%;
    height: 40px;
    position: absolute;
    background-color: #1e5f31;
}
.ques span:nth-child(2) {
}
.ques span:nth-child(3) {
    padding-left: 200px;
    padding-top: 60px;
}
.ques span:nth-child(4) {
}
.ques .imgBox {
    font-size: 32px;
}
.ques .imgBox h1{
    color: #444545;
    padding-left: 300px;
}
.ques .imgBox h1:nth-child(1) {
    padding-top: 90px;
}
.ques .imgBox h1:nth-child(2) {
    padding-left: 400px;
}
.ques .conBox {
}
.ques .conBox ul {
    padding-top: 110px;
}
.ques .conBox li {
    border-radius: 30px;
    box-sizing: border-box;
}
.ques .conBox li h1 {
    font-weight: normal;
    padding-top: 50px;
    padding-left: 60px;
    font-size: 32px;
}
.ques .conBox li p {
    width: 450px;
    padding-top: 30px;
    padding-left: 60px;
    color: #163a1f;
    font-size: 24px;
    font-weight: bold;
}


.ques .more {
}
/* 비건 설정 */
.vagen {
    position: relative;
}
.vagen span:nth-child(1) {
    position: absolute;
    left: 0;
    top: 250px;
}
.vagen span:nth-child(2) {
    position: absolute;
    left: 0;
    top: 275px;
}
.vagen .txtBox {
    padding-left: 200px;
    width: 50%;
    height: 800px;
}
.vagen .txtBox h1 {
    padding-top: 140px;
    padding-bottom: 100px;
    font-size: 60px;
}
.vagen .txtBox p {
    font-size: 32px;
}
.vagen .imgBox {}
.vagen .more {
}